venv/
my_model_dir/
data/conversations.json
data/doc_embeddings.npy
data/output.json
data/embeddingData/
/testFolder/
/react-app/node_modules/
data/userData.json
database/.env
data/conversations/
database/__pycache__
routes/__pycache__
/react-app/.env
.vscode
loadEnv.sh
gitAll.sh
